@mixin font-face($name, $full-name, $style, $weight, $file) {
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: local($name), local($full-name),
    url("../fonts/" + $file + ".woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/' + $file + '.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
}