{% set title = 'Gulp Stater' %}
{% extends 'layout/main.html' %}

{% block content %}
<div class="container">
    <div class="temp">
        <picture>
            <source type="image/webp" srcset="images/preview-1x.webp 1x, images/preview-2x.webp 2x">
            <img src="images/preview-1x.jpg" srcset="images/preview-1x.jpg 1x, images/preview-2x.jpg 2x" alt="preview">
        </picture>
        <h1>Заголок первого уровня</h1>
        <div class="row">
            <div class="col-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto asperiores at, et
                    incidunt magni
                    minima molestias mollitia numquam officia optio quaerat quidem quis repellat reprehenderit tempora
                    vel
                    voluptas? Error.</p>
            </div>
            <div class="col-6">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                    стандартной
                    "рыбой" для текстов на латинице с начала XVI века. </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
