body {
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.temp {
  text-align: center;

  img {
    margin: 20px 0;
  }

  h1 {
    font-weight: 700;
  }

  p {
    font-weight: 400;
    text-align: left;
  }
}
